.menucontainer{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.menubox{
    width: 70vw;
    height: auto;
    box-shadow: 0 0 20px grey;
    border-radius: 10px;
}
h1 , h2{
    text-align: center;
}
p{
    width: 95%;
    margin: 10px auto;
}
.img1{
    width: 50vw;
    height: 60vh;
    object-fit: cover;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.btn{
    text-align: center;
}
button{
    box-shadow: 0 0 5px grey;
    background-color: lightcyan;
}
#randommenu{
    margin: 10px;
   
}